h1, h2, h3 , h4, h5, h6 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }
p {
  font-family: 'Jura', sans-serif;
}
.nav-item {
    margin: 0px 15px;
  }
  .navCTA {
    font-size: 15px;
  }
  .jumbotron {
 
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(50vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .heroImg{
    display: flex;
    align-items: center;
    justify-content: center;
}
